header {
background-repeat: no-repeat;
background-size: 500px;
background-position: right;
}

#mainJumbo {
font-family: Luminari, fantasy;
font-size: 75px;
}

#subtext {
font-family: fantasy;
font-size: 25px;
}

#verify {
background-color: tomato;
border-style: solid;
border-color: black;
border-width: 1px;
border-radius: 5px;
max-width: 250px;
padding: 25px;
flex-wrap: wrap;
}

