/* Header */
header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: red;
}

header h1 {
  font-family: Luminari, fantasy;
  font-size: 100px;
  text-align: center;
  padding: 50px;
}

header h3 {
  font-family: fantasy;
  font-size: 25px;
} 

/* End of Header */

button {
  border: 1px solid black;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: red;
  color: white;
}

body {
  background-image: url(./assets/images/peakpx.jpg);
  background-repeat: repeat;
  background-size: 100%;
}

.link a {
  text-decoration: none;
  color: black;
}

.link a:hover {
  color: red;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  color: white;
}

/* Category Styling */
.category {
  margin-bottom: 50px;
  text-align: center;
}

.cat-title {
  color: white;
}

.cat-btn {
  opacity: 0.7;
}

#orderHistory {
  max-width: fit-content;
  padding: 25px;
}

#productInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.card {
  width: 31%;
  text-align: center;
  opacity: 0.7;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px 3px #b2a9a9;
}

.card img {
  width: auto;
  margin: 5px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px 3px #b2a9a9;
}

.shadow {
  border: 1px solid gray;
  box-shadow: 1px 1px 3px 3px #b2a9a9;
}

.detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.success {
  color: white;
}

li {
  list-style: none;
}

input {
  width: 90%;
}

label {
  float: left;
  margin-left: 20px;
}

textarea {
  width: 90%;
}

footer {
color: white;
}

@media screen and (max-width: 1000px) {
  .card img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .card img {
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .card img {
    width: 100px;
  }

  .card {
    width: 45%;
  }
}


