/* Header */
header {
  align-content: center;
}

#mainJumbo {
  font-family: Luminari, fantasy;
  font-size: 75px;
  text-align: center;
}

#jumboSubtext {
  font-family: fantasy;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 5px blue;
} 

/* End of Header */

/* Body Properties */
ul {
  background-color: tomato;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  max-width: 250px;
  padding: 25px;
  flex-wrap: wrap;
  font-size: large;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: 1px solid black;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: red;
  color: white;
}

body {
  background-image: url(./assets/images/peakpx.jpg);
  background-repeat: repeat;
  background-size: contain;
}
/* End of Body Properties */

/* Category Styling */
#chooseCategory {
  max-width: fit-content;
  background-color: tomato;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  padding: 10px;
}

#ourProducts {
  opacity: 0.8;
}

#ourProducts h2 {
  color: white;
}

#productList {
  width: auto;
  background-color: tomato;
  padding-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

/* Product Styling */
#hotSauce {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  margin: 5px;
}


